
<style>
body {background-color: white;}
h1   {color: blue;}
p    {color: red;}
div {padding: 2em}
h2{padding-top: 1em;
  padding-bottom: 0.5em}
</style>

<% if @pair.user1reveal == true && @pair.user2reveal == true && @pair.admin_reveal == true %>
  <h2>Your Pear is <%= @user.name %></h2>
<% end %>        
  
<% if @pair.user1 == current_user.id %>
  <% if @pair.user1reveal != true %>
    <%= form_tag reveal_path(@pair), class: "form-signin", method: 'patch' do %>
      <%= hidden_field_tag :reveal, true %>
      <%= hidden_field_tag :pair_id, @pair.id %>
    <div>
      </br>
      <%= submit_tag "Reveal Name", class:"btn btn-success btn-lg" %>
    </div>
  <% end %>
  <% else %>
    <%= form_tag reveal_path(@pair), class: "form-signin", method: 'patch' do %>
      <%= hidden_field_tag :reveal, false %>
      <%= hidden_field_tag :pair_id, @pair.id %>
    <div>
      </br>
      <%= submit_tag "Hide Name", class:"btn btn-danger btn-lg" %>
    </div>
    <% end %>
  <% end %>
<% end %>

<% if @pair.user2 == current_user.id %>
  <% if @pair.user2reveal != true %>
    <%= form_tag reveal_path(@pair), class: "form-signin", method: 'patch' do %>
      <%= hidden_field_tag :reveal, true %>
      <%= hidden_field_tag :pair_id, @pair.id %>
    <div>
      </br>
      <%= submit_tag "Reveal Name", class:"btn btn-success btn-lg" %>
    </div>
  <% end %>
  <% else %>
    <%= form_tag reveal_path(@pair), class: "form-signin", method: 'patch' do %>
      <%= hidden_field_tag :reveal, false %>
      <%= hidden_field_tag :pair_id, @pair.id %>
    <div>
      </br>
      <%= submit_tag "Hide Name", class:"btn btn-danger btn-lg" %>
    </div>
    <% end %>
<% end %>
<% end %>

<div class="row">
  <div class="col-md-9">
    <ul id="conversations-list">
      <% @conversations.each do |conversation| %>
        <%= render 'conversations/conversation', conversation: conversation, user: current_user %>
      <% end %>
    </ul>
  </div>

  <div class="col-md-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Pears</h3>
      </div>
      <div class="panel-body">
        <ul>
          
            <li> <%= link_to "Your Pear", conversations_path(user_id: @user), :onclick => 'icebreaker()',remote: true, method: :post %></li>
          
        </ul>
      </div>
    </div>
  </div>
</div>
<script>
function icebreaker(params) {
  alert("<%= @icebreaker %>")
}
</script>

