<% if @pair.user1 == current_user.id %>
  <% if @pair.user1reveal != true %>
    <%= form_tag reveal_path(@pair), class: "form-signin", method: 'patch' do %>
      <%= hidden_field_tag :reveal, true %>
      <%= hidden_field_tag :pair_id, @pair.id %>
    <div>
      </br>
      <%= submit_tag "Display Name", class:"btn btn-large btn-success" %>
    </div>
  <% end %>
  <% else %>
    <%= form_tag reveal_path(@pair), class: "form-signin", method: 'patch' do %>
      <%= hidden_field_tag :reveal, false %>
      <%= hidden_field_tag :pair_id, @pair.id %>
    <div>
      </br>
      <%= submit_tag "Remove Name", class:"btn btn-large btn-danger" %>
    </div>
    <% end %>
  <% end %>
<% end %>

<% if @pair.user2 == current_user.id %>
  <% if @pair.user1reveal != true %>
    <%= form_tag reveal_path(@pair), class: "form-signin", method: 'patch' do %>
      <%= hidden_field_tag :reveal, true %>
      <%= hidden_field_tag :pair_id, @pair.id %>
    <div>
      </br>
      <%= submit_tag "Display Name", class:"btn btn-large btn-success" %>
    </div>
  <% end %>
  <% else %>
    <%= form_tag reveal_path(@pair), class: "form-signin", method: 'patch' do %>
      <%= hidden_field_tag :reveal, false %>
      <%= hidden_field_tag :pair_id, @pair.id %>
    <div>
      </br>
      <%= submit_tag "Remove Name", class:"btn btn-large btn-danger" %>
    </div>
    <% end %>
<% end %>
<% end %>

<div class="row">
  <div class="col-md-9">
    <ul id="conversations-list">
      <% @conversations.each do |conversation| %>
        <%= render 'conversations/conversation', conversation: conversation, user: current_user %>
      <% end %>
    </ul>
  </div>

  <div class="col-md-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">User list</h3>
      </div>
      <div class="panel-body">
        <ul>
          
            <li><%= link_to "jimmyboy", conversations_path(user_id: @user), remote: true, method: :post %></li>
          
        </ul>
      </div>
    </div>
  </div>
</div>
